@page "/销售/报价/"

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h3>销售报价</h3>
    <div>
        <button type="button" class="btn btn-primary" @onclick="@(e=>NavigationManager.NavigateTo($"/销售/报价/新增"))"><i class="oi oi-pencil"></i> 新增</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <KTable2 DataSource="list_Main" IsResponsive="true" IsBordered=" true" IsHovarable="true" IsTextNoWrap="true"
                 CheckBoxHeader="true" IsSingleSelect="true" IsClickToSelect="true" @ref="table_Main" OnRowClicked="@(OnRowClicked)"
                 PageSize="10">
            <KTable2Columns>
                <KTable2Column Width="1" Text="操作">
                    <a href="javascript:;" @onclick="@(e=>NavigationManager.NavigateTo($"/销售/报价/查看/{(context as dto销售报价)?.RecordId}"))" class="mr-1">查看</a>
                    <a href="javascript:;" @onclick="@(e=>NavigationManager.NavigateTo($"/销售/报价/修改/{(context as dto销售报价)?.RecordId}"))" class="mr-1">修改</a>
                    <a href="javascript:;" @onclick="@(e=>NavigationManager.NavigateTo($"/销售/报价/删除/{(context as dto销售报价)?.RecordId}"))">删除</a>
                </KTable2Column>
                <KTable2Column Field="@(nameof(dto销售报价.单号))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售报价.业务类型))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售报价.往来号))" Text="客户号"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售报价.往来))" Text="客户名"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售报价.日期))" Format="yyyy-MM-dd"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售报价.交期))" Format="yyyy-MM-dd"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售报价.备注))"></KTable2Column>
            </KTable2Columns>
        </KTable2>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h4>明细</h4>
</div>

<div class="row">
    <div class="col-12">
        <KTable TItem="dto销售报价D" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="table_Details">
            <KTableConditionContainer TItem="dto销售报价D">
                <KTableHiddenCondition TItem="dto销售报价D" Predicate="m=>m.Model.Field.IsSystemField"></KTableHiddenCondition>
                <KTableHiddenCondition TItem="dto销售报价D" Predicate="m=>m.Model.Field.IsHiddenField"></KTableHiddenCondition>
                <KTableFormatCondition TItem="dto销售报价D" Predicate="m=>m.Model.IsDatetime" ValueType="KTableValueType.DateTime" ValueFormat="yyyy-MM-dd"></KTableFormatCondition>
                <KTableFormatCondition TItem="dto销售报价D" Predicate="m=>m.Model.IsDecimal" ValueType="KTableValueType.Decimal" ValueFormat="0.00"></KTableFormatCondition>
            </KTableConditionContainer>
        </KTable>
    </div>
</div>

@code {
    protected List<dto销售报价> list_Main { get; set; }
    protected List<dto销售报价D> list_Details { get; set; }

    protected KTable2 table_Main { get; set; }
    protected KTable<dto销售报价D> table_Details { get; set; }

    protected void OnRowClicked(KTable2Event e)
    {
        var row = e?.Row as dto销售报价;
        if (row != null)
        {
            var datasource = mapper.ProjectTo<dto销售报价D>(pinhuaContext.tb_报价表D.AsNoTracking().Where(m => m.RecordId == row.RecordId)).ToList();
            table_Details.SetDataSource(datasource);
        }
    }

    protected override void OnInitialized()
    {
        list_Main = mapper.ProjectTo<dto销售报价>(pinhuaContext.tb_报价表).ToList();
        list_Details = mapper.ProjectTo<dto销售报价D>(pinhuaContext.tb_报价表D).ToList();
    }
}