@page "/基础数据/字典"

<BSTable IsResponsive="true" IsBordered="true" IsHovarable="true">
    <BSTableHead>
        <BSTableRow>
            <BSTableHeadCell>操作</BSTableHeadCell>
            <BSTableHeadCell>字典名</BSTableHeadCell>
            <BSTableHeadCell>组</BSTableHeadCell>
        </BSTableRow>
    </BSTableHead>
    <BSTableBody>
        @foreach (var item in pinhuaContext.tb_字典表.AsNoTracking())
        {
            <BSTableRow>
                <BSTableCell>
                    <a class="mr-1" href="/">修改</a><a href="/">删除</a>
                </BSTableCell>
                <BSTableCell>@item.字典名</BSTableCell>
                <BSTableCell>@item.组</BSTableCell>
            </BSTableRow>
        }
    </BSTableBody>
</BSTable>

<div class="row">
    <div class="col-12">
        <BSButton Color="Color.Primary" OnClick="@onToggle">Launch demo modal</BSButton>
        <BSModal @ref="Centered" IsCentered="true">
            <BSModalHeader OnClick="@onToggle">Modal title</BSModalHeader>
            <BSModalBody><p>Modal body text goes here.</p></BSModalBody>
            <BSModalFooter>
                <BSButton Color="Color.Secondary" OnClick="@onToggle">Close</BSButton>
                <BSButton Color="Color.Primary" OnClick="@onToggle">Save Changes</BSButton>
            </BSModalFooter>
        </BSModal>


    </div>
</div>
@code {
    BSModal Centered;

    void onToggle(MouseEventArgs e)
    {
        Centered.Toggle();
    }
}