@inherits ABase
@page "/基础数据/字典"

<KRow>
    <KCol MD="6">
        <KLayoutContentItem Title="字典">
            <Toolbar><button type="button" class="btn btn-primary" @onclick="@(e=>Navigation.NavigateTo(routeC))"><i class="oi oi-pencil"></i> 新增</button></Toolbar>
            <ChildContent>
                <KTable2 @ref="mainsTable" DataSource="mainsTableDataSource" IsResponsive="true" IsBordered=" true" IsHovarable="true" IsTextNoWrap="true"
                         OnRowClicked="@(OnRowClicked)" PageSize="10" CheckBoxHeader="true" IsClickToSelect="true" IsSingleSelect="true">
                    <KTable2Columns>
                        <KTable2Column Width="1" Text="操作">
                            @{
                                var row = context as dto字典;
                                <a href="javascript:;" @onclick="@(e => Navigation.NavigateTo($"{routeR}/{row?.RecordId}"))" class="mr-1">查看</a>
                                <a href="javascript:;" @onclick="@(e => Navigation.NavigateTo($"{routeU}/{row?.RecordId}"))" class="mr-1">修改</a>
                                <a href="javascript:;" @onclick="@(e => Navigation.NavigateTo($"{routeD}/{row?.RecordId}"))">删除</a>
                            }
                        </KTable2Column>
                        <KTable2Column Width="500" Field="@(nameof(dto字典.字典号))"></KTable2Column>
                        <KTable2Column Width="500" Field="@(nameof(dto字典.字典名))"></KTable2Column>
                        <KTable2Column Width="500" Field="@(nameof(dto字典.组号))"></KTable2Column>
                        <KTable2Column Width="500" Field="@(nameof(dto字典.组名))"></KTable2Column>
                    </KTable2Columns>
                </KTable2>
            </ChildContent>
        </KLayoutContentItem>
    </KCol>
    <KCol MD="6">
        <KLayoutContentItem Title="明细">
            <KTable2 DataSource="detailsTableDataSource" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="detailsTable"
                     CheckBoxHeader="true" IsClickToSelect="true" IsSingleSelect="true">
                <KTable2Columns>
                    <KTable2Column Width="500" Field="@(nameof(dto字典D.编号))"></KTable2Column>
                    <KTable2Column Width="500" Field="@(nameof(dto字典D.名称))"></KTable2Column>
                    <KTable2Column Width="500" Field="@(nameof(dto字典D.代码))"></KTable2Column>
                </KTable2Columns>
            </KTable2>
        </KLayoutContentItem>
    </KCol>
</KRow>
