@inherits UBase
@page "/基础数据/字典/修改/{RecordId:int}"

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h3>字典 - 修改</h3>
</div>
<KForm Model="main" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InvalidSubmit">
    <KRow>
        <KCol MD="6">
            <DataAnnotationsValidator />
            <KValidationSummary />
            <KFormGroupContainer LabelCol="3" LabelAlign="LabelAlign.Right" InputReadonly="true">
                <KFormGroup Label="@nameof(main.字典号)">
                    <KInputText @bind-Value="main.字典号" Placeholder="请输入 ..." Readonly="false"></KInputText>
                </KFormGroup>
                <KFormGroup Label="@nameof(main.字典名)">
                    <KInputText @bind-Value="main.字典名" Placeholder="请输入 ..." Readonly="false"></KInputText>
                </KFormGroup>
                <KFormGroup Label="@nameof(main.组号)">
                    <KInputText @bind-Value="main.组号" Placeholder="请输入 ..." Readonly="false"></KInputText>
                </KFormGroup>
                <KFormGroup Label="@nameof(main.组名)">
                    <KInputText @bind-Value="main.组名" Placeholder="请输入 ..." Readonly="false"></KInputText>
                </KFormGroup>
            </KFormGroupContainer>
        </KCol>
    </KRow>

    <KRow>
        <KCol MD="6">
            <div class="d-flex justify-content-end flex-wrap flex-md-nowrap align-items-center mb-3">
                <button type="button" class="btn btn-primary" @onclick="@(e => toInsert())"><i class="oi oi-plus"></i> 添加</button>
            </div>
            <KTable2 DataSource="detailsTableDataSource" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="detailsTable"
                     CheckBoxHeader="true" IsSingleSelect="true" IsClickToSelect="true">
                <KTable2Columns>
                    <KTable2Column Text="#" Context="row">@(detailsTableDataSource.IndexOf(row as dto字典D) + 1)</KTable2Column>
                    <KTable2Column Text="操作" Width="1" Context="row">
                        <a href="javascript:;" class="mr-1" @onclick="e=>detailsTableDataSource.Remove(row as dto字典D)">移除</a>
                        <a href="javascript:;" @onclick="e=>toEdit(row as dto字典D)">修改</a>
                    </KTable2Column>
                    <KTable2Column Width="500" Field="@(nameof(dto字典D.编号))"></KTable2Column>
                    <KTable2Column Width="500" Field="@(nameof(dto字典D.名称))"></KTable2Column>
                    <KTable2Column Width="500" Field="@(nameof(dto字典D.代码))"></KTable2Column>
                </KTable2Columns>
            </KTable2>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
                <div>
                    <button type="button" class="btn btn-secondary" @onclick="@(e=>Navigation.NavigateTo(routeA))"><i class="oi oi-arrow-thick-left"></i> 取消</button>
                </div>
                <div>
                    <button type="submit" class="btn btn-success"><i class="oi oi-check"></i> 确认修改</button>
                </div>
            </div>
        </KCol>
    </KRow>
</KForm>

<EditModal_字典明细 DataSource="detailsTableEditingRow" @ref="EditModal_字典明细" OnOK="e=>saveChange(e)"></EditModal_字典明细>
