@namespace Klazor

<CascadingValue Value="this">
    <select id="@(Model.RawName)" @bind="Model.RawValueString" class="@Classname" @attributes="@UnknownParameters" disabled="@(Readonly)">
        @*<option value="无">@(Placeholder)</option>*@
        @ChildContent
    </select>
</CascadingValue>