@namespace Klazor

<CascadingValue Value="this">
    <select id="@(Model.Field.Name)" @bind="Model.Field.ValueString" class="@Classname" @attributes="@UnknownParameters" disabled="@(Readonly)">
        <option value="@string.Empty">@(Placeholder)</option>
        @ChildContent
    </select>
</CascadingValue>