@inherits ABase
@page "/销售/订单/"

<KRow>
    <KCol>
        <PageTemplateItemForA Title="销售订单" OnAdd="@(e=>Navigation.NavigateTo(routeC))">
            <KTable2 @ref="table_Main" DataSource="list_Main" IsResponsive="true" IsBordered=" true" IsHovarable="true" IsTextNoWrap="true"
                     OnRowClicked="@(OnRowClicked)" PageSize="10" CheckBoxHeader="true" IsClickToSelect="true" IsSingleSelect="true">
                <KTable2Columns>
                    <KTable2Column Width="1" Text="操作">
                        @{
                            var row = context as dto销售订单;
                            <a href="javascript:;" @onclick="@(e => Navigation.NavigateTo($"{routeR}/{row?.RecordId}"))" class="mr-1">查看</a>
                            <a href="javascript:;" @onclick="@(e => Navigation.NavigateTo($"{routeU}/{row?.RecordId}"))" class="mr-1">修改</a>
                            <a href="javascript:;" @onclick="@(e => Navigation.NavigateTo($"{routeD}/{row?.RecordId}"))">删除</a>
                        }
                    </KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.单号))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.业务类型))"></KTable2Column>
                    <KTable2ColumnBoolean Field="@(nameof(dto销售订单.来自报价单))"></KTable2ColumnBoolean>
                    <KTable2Column Field="@(nameof(dto销售订单.往来号))" Text="客户号"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.往来))" Text="客户名"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.日期))" Format="yyyy-MM-dd"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.交期))" Format="yyyy-MM-dd"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.备注))"></KTable2Column>
                </KTable2Columns>
            </KTable2>
        </PageTemplateItemForA>
        <PageTemplateItem Title="明细">
            <KTable2 DataSource="list_Details" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="table_Details"
                     CheckBoxHeader="true" IsClickToSelect="true" IsSingleSelect="true">
                <KTable2Columns>
                    <KTable2Column Field="@(nameof(dto销售订单D.子单号))" Width="100"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.品号))" Width="100"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.品名))" Width="200"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.型号))" Width="100"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.规格))" Width="200"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.个数))" Width="100"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.数量))" Width="100"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.单位))" Width="100"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.单价))" Width="100"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.金额))" Width="100"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.备注))" Width="150"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.状态))" Width="100"></KTable2Column>
                </KTable2Columns>
            </KTable2>
        </PageTemplateItem>
    </KCol>
</KRow>