@inherits ABase
@page "/销售/订单/"

<KRow>
    <KCol>
        <PageTemplateItemForA Title="销售订单" OnAdd="@(e=>NavigationManager.NavigateTo(routeC))">
            <KTable2 @ref="table_Main" DataSource="list_Main" IsResponsive="true" IsBordered=" true" IsHovarable="true" IsTextNoWrap="true"
                     OnRowClicked="@(OnRowClicked)" PageSize="10" CheckBoxHeader="true" IsClickToSelect="true" IsSingleSelect="true">
                <KTable2Columns>
                    <KTable2Column Width="1" Text="操作">
                        @{
                            var row = context as dto销售订单;
                            <a href="javascript:;" @onclick="@(e => NavigationManager.NavigateTo($"/销售/订单/查看/{row?.RecordId}"))" class="mr-1">查看</a>
                            <a href="javascript:;" @onclick="@(e => NavigationManager.NavigateTo($"/销售/订单/修改/{row?.RecordId}"))" class="mr-1">修改</a>
                            <a href="javascript:;" @onclick="@(e => NavigationManager.NavigateTo($"/销售/订单/删除/{row?.RecordId}"))">删除</a>
                        }
                    </KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.单号))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.业务类型))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.往来号))" Text="客户号"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.往来))" Text="客户名"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.日期))" Format="yyyy-MM-dd"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.交期))" Format="yyyy-MM-dd"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单.备注))"></KTable2Column>
                </KTable2Columns>
            </KTable2>
        </PageTemplateItemForA>
        <PageTemplateItem Title="明细">
            <KTable2 DataSource="list_Details" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="table_Details"
                     CheckBoxHeader="true" IsClickToSelect="true" IsSingleSelect="true">
                <KTable2Columns>
                    <KTable2Column Field="@(nameof(dto销售订单D.品号))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.品名))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.型号))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.规格))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.个数))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.数量))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.单位))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.单价))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.金额))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.备注))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售订单D.状态))"></KTable2Column>
                </KTable2Columns>
            </KTable2>
        </PageTemplateItem>
    </KCol>
</KRow>