@inherits CBase
@page "/基础数据/商品/新增"

<KForm Model="main" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InvalidSubmit">
    <KRow>
        <KCol MD="6">
            <PageTemplateItem Title="商品 - 新增" 
                              HasBottomLeftButton="true" BottomLeftButtonOnClick="@(e=>Navigation.NavigateTo(routeA))"
                              HasBottomRightButton="true" BottomRightButtonSubmit="true" BottomRightButtonTitle="保存">
                <DataAnnotationsValidator />
                <KValidationSummary />
                <KFormGroupContainer LabelCol="3" LabelAlign="LabelAlign.Right" InputReadonly="true">
                    <KFormGroup Label="@nameof(main.品号)">
                        <KInputText @bind-Value="main.品号" Placeholder="自动生成 ..."></KInputText>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.品名)">
                        <KInputText @bind-Value="main.品名" Placeholder="请输入 ..." Readonly="false"></KInputText>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.型号)">
                        <KInputText @bind-Value="main.型号" Placeholder="请输入 ..." Readonly="false"></KInputText>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.规格)">
                        <KInputCompute @bind-Value="main.规格" Placeholder="自动生成 ..." ComputedValue="computedSpecification"></KInputCompute>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.长度)">
                        <KInputNumberDropdown @bind-Value="main.长度" Placeholder="请输入 ..." Readonly="false" Items="dropdownLength"></KInputNumberDropdown>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.宽度)">
                        <KInputNumberDropdown @bind-Value="main.宽度" Placeholder="请输入 ..." Readonly="false" Items="dropdownWidth"></KInputNumberDropdown>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.高度)">
                        <KInputNumberDropdown @bind-Value="main.高度" Placeholder="请输入 ..." Readonly="false" Items="dropdownHeight"></KInputNumberDropdown>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.面厚)">
                        <KInputNumber @bind-Value="main.面厚" Placeholder="请输入 ..." Readonly="false"></KInputNumber>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.单位)">
                        <KInputSelect @bind-Value="main.单位">
                            @foreach (var item in dropdownUnits)
                            {
                                <option>@item</option>
                            }
                        </KInputSelect>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.分类1)">
                        <KInputSelect @bind-Value="main.分类1">
                            @foreach (var item in dropdownCategory)
                            {
                                <option>@item</option>
                            }
                        </KInputSelect>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.分类2)">
                        <KInputSelect @bind-Value="main.分类2">
                            @foreach (var item in dropdownCategory)
                            {
                                <option>@item</option>
                            }
                        </KInputSelect>
                    </KFormGroup>
                </KFormGroupContainer>
            </PageTemplateItem>
        </KCol>
    </KRow>
</KForm>