@inherits UBase
@page "/基础数据/商品/修改/{RecordId:int}"

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h3>商品 - 修改</h3>
</div>
<KForm Model="main" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InvalidSubmit">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <DataAnnotationsValidator />
                    <KValidationSummary />
                    <KFormGroupContainer LabelCol="3" LabelAlign="LabelAlign.Right" InputReadonly="true">
                        <KFormGroup Label="@nameof(main.品号)">
                            <KInputText @bind-Value="main.品号" Placeholder="自动生成 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.品名)">
                            <KInputText @bind-Value="main.品名" Placeholder="请输入 ..." Readonly="false"></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.型号)">
                            <KInputText @bind-Value="main.型号" Placeholder="请输入 ..." Readonly="false"></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.规格)">
                            <KInputCompute @bind-Value="main.规格" Placeholder="自动生成 ..." ComputedValue="computedSpecification"></KInputCompute>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.长度)">
                            <KInputNumberDropdown @bind-Value="main.长度" Placeholder="请输入 ..." Readonly="false" Items="dropdownLength"></KInputNumberDropdown>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.宽度)">
                            <KInputNumberDropdown @bind-Value="main.宽度" Placeholder="请输入 ..." Readonly="false" Items="dropdownWidth"></KInputNumberDropdown>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.高度)">
                            <KInputNumberDropdown @bind-Value="main.高度" Placeholder="请输入 ..." Readonly="false" Items="dropdownHeight"></KInputNumberDropdown>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.面厚)">
                            <KInputNumber @bind-Value="main.面厚" Placeholder="请输入 ..." Readonly="false"></KInputNumber>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.单位)">
                            <KInputDropdown @bind-Value="main.单位" Placeholder="请选择 ..." Items="dropdownUnits"></KInputDropdown>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.分类1)">
                            <KInputDropdown @bind-Value="main.分类1" Placeholder="请选择 ..." Items="dropdownCategory"></KInputDropdown>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.分类2)">
                            <KInputDropdown @bind-Value="main.分类2" Placeholder="请选择 ..." Items="dropdownCategory"></KInputDropdown>
                        </KFormGroup>
                    </KFormGroupContainer>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
                <div>
                    <button class="btn btn-secondary" @onclick="@(e=>Navigation.NavigateTo(routeA))"><i class="oi oi-arrow-thick-left"></i> 取消</button>
                </div>
                <div>
                    <button type="submit" class="btn btn-success" @onclick="@(e=>Navigation.NavigateTo($"{routeU}/{RecordId}"))"><i class="oi oi-check"></i> 确认修改</button>
                </div>
            </div>
        </div>
    </div>
</KForm>