@page "/销售/出库/"

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h3>销售出库</h3>
    <div>
        <button type="button" class="btn btn-primary" @onclick="@(e=>NavigationManager.NavigateTo($"/销售/出库/新增"))"><i class="oi oi-pencil"></i> 新增</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <KTable2 @ref="mainsTable" DataSource="mainsTableDataSource" IsResponsive="true" IsBordered=" true" IsHovarable="true" IsTextNoWrap="true"
                 OnRowClicked="@(OnRowClicked)" PageSize="10" CheckBoxHeader="true" IsClickToSelect="true" IsSingleSelect="true">
            <KTable2Columns>
                <KTable2Column Width="1" Text="操作">
                    @{
                        var row = context as dto销售出库;
                        <a href="javascript:;" @onclick="@(e => NavigationManager.NavigateTo($"/销售/出库/查看/{row?.RecordId}"))" class="mr-1">查看</a>
                        <a href="javascript:;" @onclick="@(e => NavigationManager.NavigateTo($"/销售/出库/修改/{row?.RecordId}"))" class="mr-1">修改</a>
                        <a href="javascript:;" @onclick="@(e => NavigationManager.NavigateTo($"/销售/出库/删除/{row?.RecordId}"))">删除</a>
                    }
                </KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库.单号))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库.类型))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库.往来号))" Text="客户号"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库.往来))" Text="客户名"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库.日期))" Format="yyyy-MM-dd"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库.备注))"></KTable2Column>
            </KTable2Columns>
        </KTable2>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h4>明细</h4>
</div>

<div class="row">
    <div class="col-12">
        <KTable2 DataSource="detailsTableDataSource" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="detailsTable"
                 CheckBoxHeader="true" IsClickToSelect="true" IsSingleSelect="true">
            <KTable2Columns>
                <KTable2Column Field="@(nameof(dto销售出库D.品号))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库D.品名))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库D.型号))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库D.规格))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库D.个数))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库D.数量))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库D.单位))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库D.单价))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库D.金额))"></KTable2Column>
                <KTable2Column Field="@(nameof(dto销售出库D.备注))"></KTable2Column>
            </KTable2Columns>
        </KTable2>
    </div>
</div>

@code {
    protected List<dto销售出库> mainsTableDataSource { get; set; }
    protected List<dto销售出库D> detailsTableDataSource { get; set; } = new List<dto销售出库D>();

    protected KTable2 mainsTable { get; set; }
    protected KTable2 detailsTable { get; set; }

    protected void OnRowClicked(KTable2Event e)
    {
        var row = e.Row as _IBaseTableMain;
        if (row != null)
        {
            detailsTableDataSource = mapper.ProjectTo<dto销售出库D>(pinhuaContext.tb_IOD.AsNoTracking().Where(m => m.RecordId == row.RecordId)).ToList();
        }
    }

    protected override void OnInitialized()
    {
        mainsTableDataSource = mapper.ProjectTo<dto销售出库>(pinhuaContext.tb_IO).ToList();
    }
}