@page "/销售/出库/查看/{RecordId:int}"

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h3>销售出库 - 查看</h3>
    <div>
        <button class="btn btn-primary"><i class="oi oi-pencil"></i> 修改</button>
    </div>
</div>
<KForm Model="main">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <KFormGroupContainer LabelCol="3" LabelAlign="LabelAlign.Right" InputReadonly="true">
                        <KFormGroup Label="@nameof(main.单号)">
                            <KInputText @bind-Value="main.单号" Placeholder="自动生成 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="客户号">
                            <KInputText @bind-Value="main.往来号"></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="客户名">
                            <KInputText @bind-Value="main.往来"></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.日期)">
                            <KInputDatePicker @bind-Value="main.日期" Format="yyyy-MM-dd" Placeholder="选择日期 ..."></KInputDatePicker>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.备注)">
                            <KInputText @bind-Value="main.备注"></KInputText>
                        </KFormGroup>
                    </KFormGroupContainer>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <KTable2 DataSource="detailsTableDataSource" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="detailsTable">
                <KTable2Columns>
                    <KTable2Column Text="#" Context="row">@(detailsTableDataSource.IndexOf(row as dto销售出库D) + 1)</KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.品号))" Text="品号"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.品名))" Text="品名"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.型号))" Text="型号"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.规格))" Text="规格"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.个数))" Text="个数"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.数量))" Text="数量"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.单位))" Text="单位"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.单价))" Text="单价"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.金额))" Text="金额"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.备注))" Text="备注"></KTable2Column>
                </KTable2Columns>
            </KTable2>
        </div>
    </div>
</KForm>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <div>
        <button class="btn btn-primary" @onclick="@(e=>NavigationManager.NavigateTo("销售/出库"))"><i class="oi oi-arrow-thick-left"></i> 返回</button>
    </div>
</div>

@code {
    [Parameter] public int RecordId { get; set; }

    protected dto销售出库 main;

    protected KTable2 detailsTable;
    protected List<dto销售出库D> detailsTableDataSource;

    protected List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem> dropdownOptions;

    protected override void OnInitialized()
    {
        main = mapper.Map<dto销售出库>(pinhuaContext.tb_IO.AsNoTracking().FirstOrDefault(m => m.RecordId == RecordId));
        detailsTableDataSource = mapper.ProjectTo<dto销售出库D>(pinhuaContext.tb_IOD.AsNoTracking().Where(m => m.RecordId == RecordId)).ToList();
        dropdownOptions = pinhuaContext.DropdownOptions_客户();
    }

}