@page "/销售/出库/修改/{RecordId:int}"

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h3>销售出库 - 修改</h3>
</div>
<KForm Model="main" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InvalidSubmit">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <KFormGroupContainer LabelCol="3" LabelAlign="LabelAlign.Right" InputReadonly="true">
                        <KFormGroup Label="@nameof(main.单号)">
                            <KInputText @bind-Value="main.单号" Placeholder="自动生成 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="客户">
                            <KInputSelect @bind-Value="main.往来号">
                                @foreach (var customer in dropdownOptions)
                                {
                                    <option value="@customer.Value">@customer.Text</option>
                                }
                            </KInputSelect>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.日期)">
                            <KInputDatePicker @bind-Value="main.日期" Format="yyyy-MM-dd" Placeholder="选择日期 ..."></KInputDatePicker>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.备注)">
                            <KInputText @bind-Value="main.备注" Readonly="false"></KInputText>
                        </KFormGroup>
                    </KFormGroupContainer>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="float-right mb-3">
                <button type="button" class="btn btn-primary" @onclick="@(e => toInsert())">添加商品</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <KTable2 DataSource="detailsTableDataSource" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="detailsTable"
                     CheckBoxHeader="true" IsSingleSelect="true" IsClickToSelect="true">
                <KTable2Columns>
                    <KTable2Column Text="#" Context="context2">@(detailsTableDataSource.IndexOf(context2 as dto销售出库D) + 1)</KTable2Column>
                    <KTable2Column Text="操作" Width="1" Context="context2">
                        @{
                            var row = context2 as dto销售出库D;
                            <a href="javascript:;" class="mr-1" @onclick="e => detailsTableDataSource.Remove(row)">移除</a>
                            <a href="javascript:;" @onclick="e => toEdit(row)">修改</a>
                        }
                    </KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.品号))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.品名))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.型号))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.规格))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.个数))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.数量))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.单位))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.单价))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.金额))"></KTable2Column>
                    <KTable2Column Field="@(nameof(dto销售出库D.备注))"></KTable2Column>
                </KTable2Columns>
            </KTable2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <Modal_商品列表_销售订单 @ref="Modal_商品列表_销售订单" OnOK="e=>toSelect(e.SelectedProducts.Cast<dto销售订单D>())"></Modal_商品列表_销售订单>
            <Modal_修改销售发货明细 DataSource="detailsTableEditingRow" @ref="Modal_修改销售发货明细" OnOK="e=>saveChange(e)"></Modal_修改销售发货明细>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
</KForm>

@code {

    [Parameter] public int RecordId { get; set; }

    protected dto销售出库 main = new dto销售出库();

    protected KTable2 detailsTable;
    protected List<dto销售出库D> detailsTableDataSource { get; set; } = new List<dto销售出库D>();
    protected dto销售出库D detailsTableEditingRow { get; set; } = new dto销售出库D();

    protected Modal_商品列表_销售订单 Modal_商品列表_销售订单;
    protected Modal_修改销售发货明细 Modal_修改销售发货明细;

    protected List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem> dropdownOptions;

    protected override void OnInitialized()
    {
        main = mapper.Map<dto销售出库>(pinhuaContext.tb_IO.AsNoTracking().FirstOrDefault(m => m.RecordId == RecordId));
        detailsTableDataSource = mapper.ProjectTo<dto销售出库D>(pinhuaContext.tb_IOD.AsNoTracking().Where(m => m.RecordId == RecordId)).ToList();
        dropdownOptions = pinhuaContext.DropdownOptions_客户();
    }

    protected bool bInsert = false;

    protected void toSelect(IEnumerable<dto销售订单D> items)
    {
        if (items.Any())
        {
            var tb_product = mapper.Map<dto销售订单D, tb_订单表D>(items.ElementAtOrDefault(0));
            var dto_detail = mapper.Map<tb_订单表D, dto销售出库D>(tb_product);
            detailsTableEditingRow = dto_detail;
            Modal_修改销售发货明细?.Show();
        }
    }

    protected void toInsert()
    {
        bInsert = true;
        Modal_商品列表_销售订单?.Show();
    }

    protected void saveChange(Modal_修改销售发货明细 modal)
    {
        if (bInsert)
        {
            detailsTableDataSource.Add(modal.DataSource);
        }
    }

    protected void toEdit(dto销售出库D item)
    {
        bInsert = false;
        detailsTableEditingRow = item;
        Modal_修改销售发货明细?.Show();
    }

    protected void InvalidSubmit(EditContext context)
    {
        JSRuntime.InvokeVoidAsync("klazor.console", JsonConvert.SerializeObject(context, Formatting.Indented));
    }

    protected void ValidSubmit(EditContext context)
    {
        using (var transaction = pinhuaContext.Database.BeginTransaction())
        {
            try
            {
                var remote = pinhuaContext.RecordEdit<dto销售出库, tb_IO>(main, adding =>
                {
                    // 非空字段赋值给跟踪实体
                    adding.类型 = "销售出库";
                    adding.往来 = pinhuaContext.Set<tb_往来表>().FirstOrDefault(p => p.往来号 == adding.往来号)?.简称;
                });

                pinhuaContext.RecordDetailsEdit<dto销售出库, dto销售出库D, tb_IO, tb_IOD>(main, detailsTableDataSource,
                    adding =>
                    {
                        if (string.IsNullOrEmpty(adding.子单号)) // 子单号为空的，表示新插入
                        {
                            adding.子单号 = pinhuaContext.funcAutoCode("子单号");
                        }
                        else if (!string.IsNullOrEmpty(adding.子单号)) // 子单号不为空，表示从报价单引入，插入
                        {
                            var baojiaD = pinhuaContext.Set<tb_订单表D>().FirstOrDefault(d => d.子单号 == adding.子单号);
                            if (baojiaD != null)
                                baojiaD.状态 = "已出库";
                        }
                    },
                    updating =>
                    {
                        var baojiaD = pinhuaContext.Set<tb_订单表D>().FirstOrDefault(d => d.子单号 == updating.子单号);
                        if (baojiaD != null)
                            baojiaD.状态 = "已出库";
                    },
                   deleting =>
                   {
                       var tb_报价D = pinhuaContext.Set<tb_订单表D>().FirstOrDefault(d => d.子单号 == deleting.子单号);
                       if (tb_报价D != null)
                           tb_报价D.状态 = "";
                   });

                pinhuaContext.SaveChanges();
                transaction.Commit();

                NavigationManager.NavigateTo("/销售/出库");
            }
            catch (Exception)
            {
                transaction.Rollback();
            }
        }
    }
}