@page
@model Pinhua2.Web.Pages.销售.收款单.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>查看 - 收款单</h3>
</div>
<div class="row" id="vueScope">
    <div class="col-12">
        @foreach (var cdm in CustomDisplayFactory<vm_收款单>.CustomDisplayModels(Model.Record))
        {
            if (cdm.ForRead)
            {
                <div class="form-group row">
                    <label for="" class="col-4 col-sm-2 col-form-label">@cdm.Name</label>
                    <div class="col-8 col-sm-10">
                        <input value="@cdm.Value" class="form-control" readonly />
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h4>明细</h4>
</div>
<div class="table-responsive mb-3">
    <table class="table table-bordered text-nowrap m-0 border-top-0" id="formTable">
        <thead>
            <tr>
                @foreach (var cdm in CustomDisplayFactory<vm_收款单D>.CustomDisplayModels(Model.RecordDs.FirstOrDefault()))
                {
                    if (cdm.ForRead)
                    {
                        <th>@cdm.Name</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RecordDs)
            {
                <tr>
                    @foreach (var cdm in CustomDisplayFactory<vm_收款单D>.CustomDisplayModels(item))
                    {
                        if (cdm.ForRead)
                        {
                            <td>@cdm.Value</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Record.RecordId">修改</a> |
    <a asp-page="Index">返回列表</a>
</div>