@page
@model Pinhua2.Web.Pages.销售.销售报价.IndexModel
@using Pinhua2.Common.Attributes

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>销售报价</h3>
    <div class="btn-group">
        <a class="btn btn-outline-secondary" asp-page="Create">新增</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered text-nowrap">
        <thead>
            <tr>
                @{
                    if (Model.vm_销售报价表.Count > 0)
                    {
                        foreach (var cmd in new CustomDisplayProvider(Model.vm_销售报价表[0]).OnIndexList.OrderBy(p => p.Order))
                        {
                            <th>
                                @cmd.Name
                            </th>
                        }
                    }
                    else
                    {
                        foreach (var cmd in new CustomDisplayProvider(new vm_销售报价()).OnIndexList.OrderBy(p => p.Order))
                        {
                            <th>
                                @cmd.Name
                            </th>
                        }
                    }
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.vm_销售报价表)
            {
                <tr>
                    @foreach (var cmd in new CustomDisplayProvider(item).OnIndexList.OrderBy(p => p.Order))
                    {
                        <td>
                            @{
                                if (cmd.IsDatetime)
                                {
                                    @(((DateTime?)cmd.Value)?.ToString("yyyy-MM-dd"))
                                }
                                else
                                {
                                    @cmd.Value
                                }
                            }
                        </td>
                    }
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.RecordId">修改</a> |
                        <a asp-page="./Details" asp-route-id="@item.RecordId">查看</a> |
                        <a asp-page="./Delete" asp-route-id="@item.RecordId">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
