@inherits UBase
@page "/基础数据/往来/修改/{RecordId:int}"

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h3>往来单位 - 修改</h3>
</div>
<KForm Model="main" OnValidSubmit="HandleValidSubmit">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <DataAnnotationsValidator />
                    <KValidationSummary />
                    <KFormGroupContainer LabelCol="3" LabelAlign="LabelAlign.Right" InputReadonly="false">
                        <KFormGroup Label="@nameof(main.往来号)">
                            <KInputText @bind-Value="main.往来号" Placeholder="自动生成 ..." Readonly="true"></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.简称)">
                            <KInputText @bind-Value="main.简称" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.全称)">
                            <KInputText @bind-Value="main.全称" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.地址)">
                            <KInputText @bind-Value="main.地址" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.联系人)">
                            <KInputText @bind-Value="main.联系人" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.联系电话)">
                            <KInputText @bind-Value="main.联系电话" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="QQ">
                            <KInputText @bind-Value="main.Qq" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.公司电话)">
                            <KInputText @bind-Value="main.公司电话" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.传真)">
                            <KInputText @bind-Value="main.传真" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.账号)">
                            <KInputText @bind-Value="main.账号" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.开户行)">
                            <KInputText @bind-Value="main.开户行" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                        <KFormGroup Label="@nameof(main.组织代码)">
                            <KInputText @bind-Value="main.组织代码" Placeholder="请输入 ..."></KInputText>
                        </KFormGroup>
                    </KFormGroupContainer>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
                <div>
                    <button type="button" class="btn btn-secondary" @onclick="@(e=>Navigation.NavigateTo(routeA))"><i class="oi oi-arrow-thick-left"></i> 取消</button>
                </div>
                <div>
                    <button type="submit" class="btn btn-success"><i class="oi oi-check"></i> 确认修改</button>
                </div>
            </div>
        </div>
    </div>
</KForm>