@namespace Klazor

<div @attributes="UnknownParameters" class="@Classname">
    @if (CustomizeFooter)
    {
        @ChildContent
    }
    else
    {
        <KButton ButtonType="ButtonType.Button" Color="@CancelColor" OnClick="@HandleCancel">@CancelText</KButton>
        <KButton ButtonType="ButtonType.Button" Color="@OKColor" OnClick="@HandleOK">@OKText</KButton>
    }
</div>
