@page
@model Pinhua2.Web.Pages.销售.销售订单.DetailsModel
@using Pinhua2.Common.Attributes

@{
    ViewData["Title"] = "Details";

    var templateMain = new _CRUD_Template_Model_Main
    {
        Title = "销售订单",
        Data = Model.vm_Main,
    };
    var templateDetails = new _CRUD_Template_Model_Details
    {
        Title = "明细",
        Data = Model.vm_Details.Cast<object>(),
    };

    Model.templateModel = new _CRUD_Template_Model();
    Model.templateModel.RecordMain = templateMain;
    Model.templateModel.RecordDetailsArray.Add(templateDetails);
}

<nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">操作</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-primary"
                   asp-page="/销售/收款单/Create2"
                   asp-route-companyId="@(Model.vm_Main.往来号)"
                   asp-route-refOrderId="@(Model.vm_Main.单号)"
                   asp-route-type="定金">收定金</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary"
                   asp-page="/销售/收款单/Create2"
                   asp-route-companyId="@(Model.vm_Main.往来号)"
                   asp-route-refOrderId="@(Model.vm_Main.单号)"
                   asp-route-type="货款">收货款</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="#">生产下单</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="#">销售出库</a>
            </li>
        </ul>
        @*<span class="navbar-text">
                Navbar text with an inline element
            </span>*@
    </div>
</nav>

<partial name="_CRUD_Template/_Details" model="Model.templateModel" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.vm_Main.RecordId">修改</a> |
    <a asp-page="Index">返回列表</a>
</div>