@namespace Klazor

<button @onclick="OnClick" type="@type" class="@Classname" disabled="@disabled" role="button" aria-pressed="@pressed" aria-disabled="@disabled" tabindex="@tab" value="@Value" @attributes="@UnknownParameters">
    @ChildContent
</button>
