@inherits CBase
@page "/采购/付款/新增"

<KForm Model="main" OnValidSubmit="HandelValidSubmit">
    <KRow>
        <KCol MD="6">
            <PageTemplateItem Title="付款单 - 新增">
                <DataAnnotationsValidator />
                <KValidationSummary />
                <KFormGroupContainer LabelCol="3" LabelAlign="LabelAlign.Right" InputReadonly="true">
                    <KFormGroup Label="@nameof(main.单号)">
                        <KInputText @bind-Value="main.单号" Placeholder="自动生成 ..."></KInputText>
                    </KFormGroup>
                    <KFormGroup Label="客户">
                        <KInputSelect @bind-Value="main.往来号">
                            @foreach (var customer in dropdownOptions)
                            {
                            <option value="@customer.Value">@customer.Text</option>
                            }
                        </KInputSelect>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.日期)">
                        <KInputDatePicker @bind-Value="main.日期" Format="yyyy-MM-dd" Placeholder="选择日期 ..."></KInputDatePicker>
                    </KFormGroup>
                    <KFormGroup Label="方式">
                        <KInputSelect @bind-Value="main.小类">
                            @foreach (var item in dropdownCategory2)
                            {
                            <option>@item</option>
                            }
                        </KInputSelect>
                    </KFormGroup>
                    <KFormGroup Label="金额">
                        <KInputNumber @bind-Value="main.付" Readonly="false"></KInputNumber>
                    </KFormGroup>
                    <KFormGroup Label="分配">
                        <KInputCompute @bind-Value="main.分配" ComputedValue="detailsTableDataSource.Sum(item=>item.分配金额)"></KInputCompute>
                    </KFormGroup>
                </KFormGroupContainer>
            </PageTemplateItem>
        </KCol>
    </KRow>
    <KRow>
        <KCol>
            <PageTemplateItemForC Title="明细" OnAdd="@(e => NewRow())" OnCancel="@(e=>Navigation.NavigateTo(routeA))">
                <KTable2 DataSource="currentDetails" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="detailsTable"
                         CheckBoxHeader="true" IsSingleSelect="true" IsClickToSelect="true">
                    <KTable2Columns>
                        <KTable2Column Text="#" Context="row">@(detailsTableDataSource.IndexOf(row as dto付款单D) + 1)</KTable2Column>
                        <KTable2Column Text="操作" Width="1" Context="row">
                            <a href="javascript:;" class="mr-1" @onclick="e=>RemoveRow(row as dto付款单D)">移除</a>
                            <a href="javascript:;" @onclick="e=>EditRow(row as dto付款单D)">修改</a>
                        </KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.品号))" Text="品号"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.品名))" Text="品名"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.型号))" Text="型号"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.规格))" Text="规格"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.个数))" Text="个数"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.数量))" Text="数量"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.单位))" Text="单位"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.单价))" Text="单价"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.金额))" Text="金额"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.已付款额))" Text="已付"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.待付款额))" Text="待付"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.可分配))" Text="可分配"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto付款单D.分配金额))" Text="分配"></KTable2Column>
                    </KTable2Columns>
                </KTable2>
            </PageTemplateItemForC>
        </KCol>
    </KRow>
</KForm>

<Modal_订单金额待付 @ref="Modal" FilterExpression="@(model=>model.往来号 == main.往来号)" OnOK="e=>toSelect(e.SelectedProducts.Cast<view_AllOrdersPay>())"></Modal_订单金额待付>
<EditModal_付款单明细 DataSource="currentEditingRow" @ref="EditModal" OnOK="e=>SaveRow(e)"></EditModal_付款单明细>