@inherits UBase
@page "/销售/收款/修改/{RecordId:int}"

<KForm Model="main" OnValidSubmit="HandelValidSubmit">
    <KRow>
        <KCol MD="6">
            <PageTemplateItem Title="收款单 - 修改">
                <DataAnnotationsValidator />
                <KValidationSummary />
                <KFormGroupContainer LabelCol="3" LabelAlign="LabelAlign.Right" InputReadonly="true">
                    <KFormGroup Label="@nameof(main.单号)">
                        <KInputText @bind-Value="main.单号" Placeholder="自动生成 ..."></KInputText>
                    </KFormGroup>
                    <KFormGroup Label="客户号">
                        <KInputText @bind-Value="main.往来号"></KInputText>
                    </KFormGroup>
                    <KFormGroup Label="客户名">
                        <KInputText @bind-Value="main.往来"></KInputText>
                    </KFormGroup>
                    <KFormGroup Label="@nameof(main.日期)">
                        <KInputDatePicker @bind-Value="main.日期" Format="yyyy-MM-dd" Placeholder="选择日期 ..."></KInputDatePicker>
                    </KFormGroup>
                    <KFormGroup Label="大类">
                        <KInputText @bind-Value="main.类型">
                        </KInputText>
                    </KFormGroup>
                    <KFormGroup Label="小类">
                        <KInputSelect @bind-Value="main.小类">
                            @foreach (var item in dropdownCategory2)
                            {
                                <option>@item</option>
                            }
                        </KInputSelect>
                    </KFormGroup>
                    <KFormGroup Label="金额">
                        <KInputNumber @bind-Value="main.收" Readonly="false"></KInputNumber>
                    </KFormGroup>
                    <KFormGroup Label="分配">
                        <KInputCompute @bind-Value="main.分配" ComputedValue="detailsTableDataSource.Sum(item=>item.分配金额)"></KInputCompute>
                    </KFormGroup>
                </KFormGroupContainer>
            </PageTemplateItem>
        </KCol>
    </KRow>
    <KRow>
        <KCol>
            <PageTemplateItemForU Title="明细" OnAdd="@(e => NewRow())" OnCancel="@(e=>Navigation.NavigateTo(routeA))">
                <KTable2 DataSource="currentDetails" IsResponsive="true" IsBordered=" true" IsTextNoWrap="true" @ref="detailsTable"
                         CheckBoxHeader="true" IsSingleSelect="true" IsClickToSelect="true">
                    <KTable2Columns>
                        <KTable2Column Text="#" Context="row">@(detailsTableDataSource.IndexOf(row as dto收款单D) + 1)</KTable2Column>
                        <KTable2Column Text="操作" Width="1" Context="row">
                            <a href="javascript:;" class="mr-1" @onclick="e=>RemoveRow(row as dto收款单D)">移除</a>
                            <a href="javascript:;" @onclick="e=>EditRow(row as dto收款单D)">修改</a>
                        </KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.品号))" Text="品号"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.品名))" Text="品名"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.型号))" Text="型号"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.规格))" Text="规格"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.个数))" Text="个数"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.数量))" Text="数量"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.单位))" Text="单位"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.单价))" Text="单价"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.金额))" Text="金额"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.已收款额))" Text="已收"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.待收款额))" Text="待收"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.可分配))" Text="可分配"></KTable2Column>
                        <KTable2Column Field="@(nameof(dto收款单D.分配金额))" Text="分配"></KTable2Column>
                    </KTable2Columns>
                </KTable2>
            </PageTemplateItemForU>
        </KCol>
    </KRow>
</KForm>

<Modal_订单金额待收 @ref="Modal"
              FilterExpression="@(model=>model.往来号 == main.往来号 && !detailsTableDataSource.Any(d=>d.子单号 == model.子单号))"
              OnOK="e=>toSelect(e.SelectedProducts.Cast<view_AllOrdersPay>())" />
<EditModal_收款单明细 DataSource="currentEditingRow" @ref="EditModal" OnOK="e=>SaveRow(e)"/>