@namespace Klazor
@inherits KInputBase<DateTime?>

<div @onmouseover="@(e => isMouseOver = true)" @onmouseout="@(e => isMouseOver = false)">
    <input type="text" id="@(currentId)" class="@Classname" placeholder="@Placeholder" readonly="@currentReadonly"
           @attributes="@UnknownParameters"
           @bind="@currentValueAsString"
           @onfocus="@(e=>isVisible = true)"
           @onblur="@(e => isVisible = isMouseOver ? true : false)" />
    @if (EnablePicker)
    {
        <DatePicker FormatProvider="@(CultureInfo.CurrentCulture)"
                    Visible="isVisible"
                    CloseText="关闭" ShowClose="true"
                    TodayText="今天" ShowToday="true"
                    ClearText="清空" ShowClear="false"
                    OnSelected="@Selected" />
    }
</div>