@page
@model Pinhua2.Web.Pages.主数据.供应商.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
    <div class="d-flex justify-content-between align-items-center mt-3 mb-3 pb-3 border-bottom">
        <h3>删除 - 供应商</h3>
    </div>
<h4>你确定要删除该供应商吗？</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.往来号)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.往来号)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.简称)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.简称)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.全称)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.全称)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.联系人)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.联系人)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.联系电话)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.联系电话)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.公司电话)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.公司电话)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.传真)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.传真)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.Qq)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.Qq)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.地址)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.地址)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.开户行)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.开户行)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.组织代码)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.组织代码)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.账号)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.账号)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.状态)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.状态)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.供应商.类型)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.供应商.类型)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="供应商.RecordId" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-page="./Index">返回列表</a>
    </form>
</div>
